.hidden {
  display: none;
}

/* main * {
  outline: 1px solid red;
} */

#index-content {
  width: 100%;
  margin: 0 auto;

  grid-column: 1/-1;
  
  display: flex;
  gap: 2em;
}

#tr-container {
  flex-basis: 1 1 100%;
  width: 100%;
}

#search-form {
  width: min(900px, 90%);
  display: flex;
  gap: 0;
  padding: 0;
  margin-bottom: 2em;
}

#search-form * {
  margin: 0;
  padding: .5em 1em;
}

#search-form input {
  flex-grow: 1;
}

#search-form button[type="submit"] {
  all: unset;
  cursor: pointer;
  border: 1px solid black;
  padding: .5em 1em;
  font-weight: 900;
}

#favorites-container {
  flex-basis: 0 1 25%;
  width: 25%;
  display: none;
}

.next-page {
  text-transform: uppercase;
  text-align: center;
  margin: 10px;
}

.result {
  margin-right: 10px;
  margin-left: 10px;
  font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  font-weight: normal; 
  padding: 10px 0;
  border-color: rgba(0,0,0,0.07);
  border-style: solid;
  border-width: 1px 0;
}

.result__title {
  text-overflow: ellipsis;
  overflow: hidden;
  color: #1a0dab;
  font-size: 1.5em;
  line-height: 1.2;
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
}

.result__title:visited {
  color: #706778;
  font-weight: normal;
}

.result__url {
  color: #006621;
  font-size: 14px;
  line-height: 17px;
  font-style: normal;
  font-weight: normal;
  /* white-space: nowrap; */
}

.result__description {
  color: #545454;
  word-wrap: break-word;
  line-height: 18px;
  max-height: 36px;
  overflow: hidden;
}

.delete-link,
.favorite-link {
  cursor: pointer;
}

.result a {
  font-weight: bold;
}

.result a:hover {
  text-decoration: underline;
}

#favorites-container > * {
  width: 100%;
}

#profile {
  height: 3em;
  margin-bottom: 1em;

  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: flex-start;
  gap: 1em;
}

#profile img {
  height: 100%;
  border-radius: 50%;
}

@media only screen and (min-width: 768px) {
  
  #tr-container:not(:only-child) {
    width: 75%;
  }

  #favorites-container {
    display: block;
  }

}