<footer>
  <div>
    <div>
      <h3>Institute of Computer Science</h3> <br>
      1F Wing C, Francisco O. Santos Hall (formerly Physical Sciences Building), <br>
      Harold Cuzner Avenue, University of the Philippines Los Baños, <br>
      College, Los Baños, Laguna 4031 Philippines 
    </div>
    <div>
      <strong>Terms of Use</strong>: This service provides copyrighted materials. At least one of the authors authorized the use of their 
        technical report under 'fair use' (Section 185,  <a href="https://www.officialgazette.gov.ph/1997/06/06/republic-act-no-8293/">R.A. 8293</a>) and thus made available here. Strictly for educational and non-commercial use only. Please do not upload the reports to other platforms.
    </div>
    <!-- <div>
      <form action="/message" method="post">
        <h3>Send us a message</h3>
        <input type="email" id="email" name="email" placeholder="Enter your email" required>
        <textarea id="message" name="message" maxlength="200" placeholder="Enter message here" required></textarea>
        <input type="submit" value="Send">
      </form>
    </div> -->
    <div>
      <strong>Privacy Policy</strong>: This service uses your UP email account for authentication. By using this service, you authorize the service provider to store your <i>email address, name, and picture</i> from your UP email account. This service abides to the provisions in  <a href="https://www.officialgazette.gov.ph/2012/08/15/republic-act-no-10173/">R.A. 10173</a>. 
    </div>
    <div align="center" style="grid-column: 1 / -1;">&#169; 2023 Powered by <a href="https://github.com/srg-ics-uplb/srg-tr-searcher">SRG-ICS-UPLB</a></div>
  </div>
</footer>