{% extends 'base.html' %}

{% block title %}{{ title }}{% endblock %}

{% block main %}
  {% if user_request%}
    <h2>
      Results for :
      <span class="words-results">{{ user_request }}</span> 
    </h2>
  {% endif %}

  <div class="words-results">
  {% for row in rows %}
  <div class="result">
    <div>
      <a href="/pdf/{{ row['pdf_name'] }}" target="_blank" class="result__title">
        {{ row["title"] }}
      </a>
    </div>

    <div class="result__url">
      <strong>{{ row["authors"] }}</strong>
    </div>

    <div>
      <p style="font-size: 1.2em">{{ row["abstract"] }}</p>
    </div>

    <div class="result__description">
      Published on  {{ row["month"] }} {{row["year"]}}, Search Score: {{row["score"]}}, <a href="/bibtex/{{ row['pdf_name'] }}" target="_blank">[BibTeX]</a>
    </div>

  {% if allow_delete %}
    <div class="result__url">
    <strong><a href="/delete/{{ row['pdf_name'] }}">DELETE</a></strong>
    </div>
  {% endif %}
  </div>
  {% endfor %}
  </div>

  <!--
  TODO : add a next button here if there are other results...
  -->

  {% if next_button > 0 %}
    <a href="/search?s={{ user_request }}&p={{ next_button }}" class="next-page">
    Next page >
    </a>
  {% endif %}
  <br/><br/><br/>
  Results found in <strong>{{ speed }}</strong><small> seconds.</small>.

{% endblock %}