<html>
<head>
  <title>Techical Reports Searcher</title>
  <meta charset="UTF-8">
  <meta name="robots" content="noindex">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/search.css') }}">
</head>
<body>

{% if allow_upload %}
<nav>
  <a title="Upload a new PDF" class="upload-link" href="/upload">+ Upload</a>
</nav>
{% endif %}

<form>
  <table>
  <tr><td><input type="text" name="s"></td>
  <td><input type="submit" class="search" value="Search" formmethod="get"></td>
  </tr>
  <tr><td colspan="2">There are <strong>{{ count_pdf }} </strong> technical reports available.</td></tr>
  <tr><td colspan="2"></td></tr>
  <tr><td colspan="2"><stromg>Terms of Use</strong>: This service provides copyrighted materials. At least one of the authors authorized the use of their 
technical report under 'fair use' (Section 185,  <a href="https://www.officialgazette.gov.ph/1997/06/06/republic-act-no-8293/">R.A. 8293</a>) and thus made available here. Strictly for educational and non-commercial use only.
</td></tr>
  </table> 
</form>

<footer class="footer-info">
   &#169; 2021 <a href="https://github.com/srg-ics-uplb/srg-tr-searcher">SRG-ICS-UPLB</a>
</footer>

</body>
</html>

