<html>
<head>
  <title>Upload</title>
  <meta charset="UTF-8">
  <meta name="robots" content="noindex">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/search.css') }}">
</head>
<body>

<nav>
  <a title="Search in database" class="upload-link" href="/search">+ Search</a>
</nav>


<form enctype="multipart/form-data">
  <table>
  <tr><td><input type="text" id="title" name="title" required minlength="4" maxlength="200" size="50" placeholder="Title"></td></tr>
  <tr><td><input type="text" id="authors" name="authors" required minlength="4" maxlength="200" size="50" placeholder="Authors (comma seperated)"></td></tr>
  <tr><td><input type="text" id="year" name="year" required minlength="4" maxlength="200" size="50" placeholder="Year"></td></tr>
  <tr><td><input type="text" id="month" name="month" required minlength="4" maxlength="200" size="50" placeholder="Month"></td></tr>
  <tr><td><input type="file" id="file" accept="application/pdf" name="file" multiple></td></tr>
  <tr><td><input type="submit" class="search" value="Upload" formmethod="post" formaction=""></td></tr>
  </table>
</form>

</body>
</html>

